@model WordAutomationDemo.Models.UserModel
@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-sm-12">
            <div class="main-heading title-row mbp15">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="heading01">User Detail</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 mtp10">
            <form class="form-details">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="UserName">User Name</label>
                            <p class="form-control-static">
                                @Html.Raw(Model.UserName)
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="FullName">Full Name</label>
                            <p class="form-control-static">
                                @Html.Raw(Model.FullName)
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ProjectDocuments">Email ID</label>
                            <p class="form-control-static">@Html.Raw(Model.EmailID)</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ProjectDocuments">Company</label>
                            <p class="form-control-static">@Html.Raw(Model.Company)</p>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group multiselectbox">
                            <label for="ProjectDocuments">Role </label>
                            <p class="form-control-static">@Html.Raw(Model.Role)</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group multiselectbox">
                            <label for="ProjectDocuments">Department</label>
                            <p class="form-control-static">@Html.Raw(Model.Department)</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group multiselectbox">
                            <label for="ProjectDocuments">Status</label>
                            <p class="form-control-static">@Html.Raw(Model.Active)</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ProjectDocuments">Profile Image</label>
                            <div class="clearfix">
                                <div class="thumbimg">
                                    <img src="@Model.ProfileImage" id="imgProfile" class=" img-thumbnail img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <button class="darkblue-btn btnspace" type="button" onclick="location.href = '@string.Concat(WordAutomationDemo.Common.Global.SiteUrl, "User/Index")'"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
