@model WordAutomationDemo.Models.AssignmentModel

<div class="modal fade bs-example-modal-lg" id="AddNewProjectModal" tabindex="1000" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">  <span id="contentType">Add New Project </span></h4>
            </div>
            <div class="modal-body" id="partialContent" style="line-height:25px;">
                @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateProject" }))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" id="errorMessage" style="display:none">
                                @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.ProjectNotFound))
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-danger error-message displaynone" id="duplicateRecord" style="display:none">
                                @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.AlreadyExists, "Project"))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Project Name<span class="mandatory">*</span></label>
                                <input type="text" name="Name" id="Name" value=" " class="form-control" />
                                <p class="errormessage">
                                    @Html.ValidationMessageFor(model => model.DocumentName)
                                    <span id='spanConfirm'></span>
                                </p>
                            </div>
                        </div>
                        @*<div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Upload New File</label>
                                <div class="input-group">

                                    <input type="text" class="form-control" readonly="">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            <i class="fa fa-plus"></i><input type="file" name="docFile" onchange="ValidateType(this)" value="" class="form-control" id="docFile" style="display: none;" multiple="multiple" accept=".docx,.doc,.ppt,.pptx,.xls,.xlsx" />
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>*@

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Start Date</label>
                                <input type="text" name="strStartDate" id="strStartDate" value="@DateTime.Now.ToString(WordAutomationDemo.Helpers.CurrentUserSession.User.DTFormatGrid)" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">End Date</label>
                                <input type="text" name="strEndDate" id="strEndDate" value="@DateTime.Now.AddDays(1).ToString(WordAutomationDemo.Helpers.CurrentUserSession.User.DTFormatGrid)" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group multiselectbox">
                                <label for="selectMembers">Project Documents</label>
                                @Html.DropDownListFor(model => model.DocumentIDList, Model.WordList, new { @class = "form-control", @id = "projectDoc", @multiple = "multiple" })
                            </div>
                        </div>
                        @if (Model.MemberList != null && Model.MemberList.Count > 0)
                        {
                            <div class="col-sm-6">
                                <div class="form-group multiselectbox">
                                    <label for="selectMembers">Select Members<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(model => model.MemberIDList, Model.MemberList, new { @class = "form-control", @id = "selectMembersProject", @multiple = "multiple" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Description</label>
                                <textarea name="Description" id="Description" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mtp30">
                                <input type="hidden" name="Status" value="1" />
                                <button class="lightblue-btn btnspace btnSubmitForm" type="submit"><i class="fa fa-pencil" aria-hidden="true" onclick=" return SaveProject()"></i> Save</button>
                                @*<input type="submit" id="btnSubmit" value="Save" class="btn btn-primary pull-right" style="width:80px" onclick=" return SaveProject()" />     &nbsp;&nbsp;*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
