@using WordAutomationDemo.Common
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TRIYO</title>
    <link href="@Url.Content("~/CSS/fonts/fonts.css")" rel="stylesheet" />
    <link href="@Url.Content("~/CSS/fonts/font-awesome.css")" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/CSS/Common/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/CSS/Common/bootstrap-theme.css")" rel="stylesheet">

    <!-- Custom -->
    <link href="@Url.Content("~/CSS/Custom/style.css")" rel="stylesheet">
</head>

<body>
    <div id="wrapper" class="clearfix">
        <div class="loginbox">
            <div class="loginlogo" style="margin-bottom:25px !important;"><img src="~/CSS/images/logo.png" alt="" class="img-responsive center-block"></div>
            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Approved")
            {
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.Approved))
                    </div>
                </div>
                <script>
                $("#Approved").show().focus();
                setTimeout(function () {
                    $("#Approved").hide();
                }, 5000);
                </script>
            }
            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Declined")
            {
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.Declined))
                    </div>
                </div>
                <script>
                $("#Declined").show().focus();
                setTimeout(function () {
                    $("#Declined").hide();
                }, 5000);
                </script>
            }
            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Error")
            {
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.Error))
                    </div>
                </div>
                <script>
                $("#error").show().focus();
                setTimeout(function () {
                    $("#error").hide();
                }, 5000);
                </script>
            }

            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Processed")
            {
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.Processed))
                    </div>
                </div>
                <script>
                    $("#error").show().focus();
                    setTimeout(function () {
                        $("#error").hide();
                    }, 5000);
                </script>
            }

            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "NoFound")
            {
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.RecordNotFound))
                    </div>
                </div>
                <script>
                    $("#error").show().focus();
                    setTimeout(function () {
                        $("#error").hide();
                    }, 5000);
                </script>
            }

            @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "UrlNotFound")
            {
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        @Html.Encode(String.Format(WordAutomationDemo.Common.Messages.RecordNotFound))
                    </div>
                </div>
                <script>
                    $("#error").show().focus();
                    setTimeout(function () {
                        $("#error").hide();
                    }, 5000);
                </script>
            }
            <div class="loginform">
                <div class="clearfix text-center">
                    <a href="@Url.Content("~/Login/Index")" class="bluecolor float-left" style="text-transform:none;">Click here</a> to login page
                </div>
            </div>
        </div>
    </div>

</body>
</html>
